In [2]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

In [2]:
titanic_df = pd.read_csv('../Zbiór danych Titanic.arff.txt', header=None, skiprows=17, na_values='?', sep=',')
colnames = ['Pclass', 'Survived', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Boat', 'Body', 'Home Destination']
titanic_df.columns = colnames
titanic_df.index.name = 'PassengerId'

In [3]:
titanic_df = pd.read_csv('titanic_df.csv')

In [4]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       1306 non-null   int64
 1   Pclass            1306 non-null   int64
 2   Survived          1306 non-null   int64
 3   Name              1306 non-null   object
 4   Sex               1306 non-null   object
 5   Age               1306 non-null   float64
 6   SibSp             1306 non-null   int64
 7   Parch             1306 non-null   int64
 8   Ticket            1306 non-null   object
 9   Fare              1306 non-null   float64
 10  Cabin             293 non-null    object
 11  Embarked          1306 non-null   object
 12  Boat              1306 non-null   object
 13  Body              1306 non-null   float64
 14  Home Destination  744 non-null    object
dtypes: float64(3), int64(5), object(7)
memory usage: 153.2+ KB

Jako zmienne jakosciowe zaklasyfikowalem kolumny **Pclass, Survived, Sex, Ticket, Cabin, Embarked, Boat, Body, Home Destination**

In [5]:
jakosciowe = ['Pclass', 'Survived', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Boat', 'Body', 'Home Destination']

1. Sprawdź liczebność poszczególnych etykiet dla danych zmiennych jakościowych

In [6]:
def etykiety(df, colname):
    return f'Liczba etykiet zmiennej {colname} = {len(df[colname].unique())}'

In [7]:
for zmienna in jakosciowe:
    print(etykiety(titanic_df, zmienna))

Liczba etykiet zmiennej Pclass = 3
Liczba etykiet zmiennej Survived = 2
Liczba etykiet zmiennej Sex = 2
Liczba etykiet zmiennej Ticket = 927
Liczba etykiet zmiennej Cabin = 186
Liczba etykiet zmiennej Embarked = 3
Liczba etykiet zmiennej Boat = 28
Liczba etykiet zmiennej Body = 121
Liczba etykiet zmiennej Home Destination = 369

2.  Wyświetl z użyciem funkcji print liczbę wszystkich pasażerów. Wykorzystaj podobny sposób jak w ptk 1.

In [8]:
print(f'Liczba pasazerow = {len(titanic_df.index)}')

Liczba pasazerow = 1306

 Skomentuj wyniki otrzymane w punkcie 1 i 2. Podziel zmienne ze względu na dużą i małą moc zbioru (kardynalność). <br>
 Zmienne o dużej mocy zbioru to:
- Wyniki zdają się być tak jakich można było się spodziewać, wiadomo że ktoś mógł przeżyć lub nie, że były 3 klasy lub że zmienna Sex mogła mieć 2 wartości
- Warto zaznaczyć, że zmienna **Embarked** ma 3 unikalne wartości, bo czwartą jest NaN
- Ciekawa natomiast jest wysoka wartość zmiennej **Home Destination**, bo wynosi aż **370**
- Do zmiennych o małej mocy zbioru zaliczyłbym **PClass, Survived, Sex, Embarked i Boat**, a pozostałe do dużej mocy

4.     Sprawdź, ile unikalnych etykiet ma zmienna mówiąca o kabinie danego pasażera. Użyj takiej funkcji, która zwraca wynik w postaci NumPy array.

In [9]:
print(len(titanic_df['Cabin'].unique()), type(titanic_df['Cabin'].unique()), sep='\n')

186
<class 'numpy.ndarray'>

5.     Zredukuj liczbę cech dla zmiennej opisującej kabiny poprzez zastąpienie obecnych etykiet w formacie LL11 do etykiet zawierających tylko pierwszą literę. Użyj astype(str).str[pozycja]. Nową zmienną nazwij CabinReduced. Wyświetl pierwsze 20 wierszy zbioru danych dla kolumn Cabin i CabinReduced

In [10]:
titanic_df['CabinReduced'] = titanic_df['Cabin'].astype(str).str[0]
titanic_df[['Cabin', 'CabinReduced']].head(20)

      Cabin CabinReduced
0        B5            B
1   C22 C26            C
2   C22 C26            C
3   C22 C26            C
4   C22 C26            C
5       E12            E
6        D7            D
7       A36            A
8      C101            C
9       NaN            n
10  C62 C64            C
11  C62 C64            C
12      B35            B
13      NaN            n
14      A23            A
15      NaN            n
16  B58 B60            B
17  B58 B60            B
18      D15            D
19       C6            C

6.     Wyświetl (jak w pkt 1) liczbę etykiet dla zmiennych z ptk 5. O ile procent zredukowano kardynalność zbioru zmiennej opisującej kabiny?

In [11]:
etykiety(titanic_df, 'CabinReduced')

'Liczba etykiet zmiennej CabinReduced = 9'

In [12]:
before = len(titanic_df['Cabin'].unique())
after = len(titanic_df['CabinReduced'].unique())
print(f' Kardynalnosc zbioru zmiennej opisujacej kabiny zredukowano o {round((1 - after/before) * 100,2)}%')

 Kardynalnosc zbioru zmiennej opisujacej kabiny zredukowano o 95.16%

In [13]:
titanic_df.to_csv('titanic_df.csv')

7.     Uzasadnij dlaczego dokonujesz redukcji akurat tej zmiennej. Jak to wpływa na przyszłe analizy. Czy powoduje jakieś negatywne skutki?

Zmienna **Cabin** ma bardzo wysoką kardynalność (**187** unikalnych wartości), więc takie uszczegółowienie jej może nie być potrzebne, a nawet może być niepożądane, gdyż może negatywnie wpłynąć na potencjalną jakość przyszłego modelu. Redukcja zmiennej do tylko pierwszej litery pozwala zachować pewną różnorodność, upraszczając jednak zbiór